<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title th:text="@{picture.name}">Obrazki smieszne, fajne i w ogóle</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="../static/css/common.css" th:href="@{../static/css/common.css}"/>
    <link th:href="@{/webjars/bootstrap/4.0.0-alpha.6-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel='stylesheet prefetch'
          href='https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.5/angular-material.css'>

    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/sticky-footer.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>

<body ng-app="myApp">

<header>
    <div th:replace="fragments/header::header"></div>
</header>

<div class="separator"></div>
<section class="container custom-container">

    <table class="picture-table" ng-controller="pointCtrl">
        <td class="picture-container">
            <div class="picture-info">
                <div class="picture-title" th:text="${picture.name}"></div>
                <div class="picture-date" th:text="${#dates.format(picture.pdate, 'dd MMM yyyy HH:mm')}"></div>
                <div class="picture-points">{{points}}</div>
            </div>

            <!--<div class="picture-author" th:text="${picture.user.nick}"></div>-->
            <img align="center"
                 th:src="@{'data:image/png;base64,' + ${picture.to64encode()}}"
                 th:alt="${picture.name}"/>

            <div class="picture-description" th:text="${picture.description}"></div>
            <div class="separator"></div>
            <div>
                <button class="btn btn-info" ng-click="pointClick('plus')" th:text="#{good}">Dobre</button>
                <button class="btn btn-info" ng-click="pointClick('minus')" th:text="#{bad}">Nędza</button>
            </div>
        </td>
    </table>
    <table class="buttons-container">
        <tr>
            <th class="back-button">
                <a th:href="${prev}" th:text="#{previous-m}" th:class="${prev} == null ?
                @{btn btn-primary disabled} :
                @{btn btn-primary}">
                    Poprzednie</a>
            </th>
            <th class="next-button">
                <a th:href="${next}" th:text="#{next-m}" th:class="${next} == null ?
                @{btn btn-primary disabled} :
                @{btn btn-primary}">
                    Następne</a>
            </th>
        </tr>
    </table>
</section>

<script>
    var app = angular.module('myApp', []);
    app.controller('pointCtrl', function ($scope, $location, $http, $log) {

        $scope.ttt = $location.absUrl();
        $http.post("/api/picture/data", $location.absUrl()).then(function (response) {
            $scope.points = response.data.points;
        }, function (response) {
            $log.error($location.absUrl() + ": Picture response data error");
        });

        $scope.pointClick = function (action) {
            $http.post('/api/picture/point?action=' + action, $location.absUrl()).then(function (response) {
                $scope.points = response.data;
            }, function (response) {
                $log.error($location.absUrl() + ": Post error - " + action + " action");
            })
        };

    });
</script>

</body>
</html>